{% extends "layout.twig" %}
{% block content %}
    <h1>{{ title }}</h1>
    <div class="col-sm-3 left-navigation">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                List of courses
            </a>
            <a href="/course/add" class="list-group-item">Add new</a>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <table id="courses-list" class="table table-striped" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Author</th>
                    <th>Action</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}