body {
    padding-top: 50px;
}

.left-navigation {
    margin-top: 20px;
}

.cover {
    display: none !important;
}

.progress {
    display: none;
}

.alert-danger ol {
    margin-top: 6px;
    font-weight: bold;
}