{% extends "layout.twig" %}
{% block content %}
    <h1>{{ title }}</h1>
    <input type="hidden" name="course_id" value="{{ lesson }}">
    <div class="col-sm-12">
        <div class="row">
            <table id="slides-list" class="table table-striped" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Text/Question</th>
                    <th>Image</th>
                    <th>Answer</th>
                    <th>Option 1</th>
                    <th>Option 2</th>
                    <th>Option 3</th>
                    <th>Action</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}